APP_NAME="Hugo Shop"
APP_ENV=local
APP_KEY=base64:qfzyxIt8uXAMfh8Q4YdZQjPVYGHaH2vuIRylgQEHngA=
APP_DEBUG=false
APP_URL=http://127.0.0.1:8080

APP_LOCALE=vi
APP_FALLBACK_LOCALE=vi
APP_FAKER_LOCALE=vi_VN

APP_MAINTENANCE_DRIVER=file
# APP_MAINTENANCE_STORE=database

# PHP_CLI_SERVER_WORKERS=4

BCRYPT_ROUNDS=12

LOG_CHANNEL=stderr
LOG_STACK=single
LOG_DEPRECATIONS_CHANNEL=null
LOG_LEVEL=debug

DB_CONNECTION=mysql
DB_HOST=mysql
DB_PORT=3306
DB_DATABASE=hugo_shop
DB_USERNAME=hugo
DB_PASSWORD=hugo_local_password

SESSION_DRIVER=redis
SESSION_LIFETIME=120
SESSION_ENCRYPT=false
SESSION_PATH=/
SESSION_DOMAIN=null

BROADCAST_CONNECTION=log
FILESYSTEM_DISK=s3
QUEUE_CONNECTION=database

CACHE_STORE=redis
# CACHE_PREFIX=

MEMCACHED_HOST=127.0.0.1

REDIS_CLIENT=phpredis
REDIS_HOST=redis
REDIS_PASSWORD=redis_local_password
REDIS_PORT=6379

MAIL_MAILER=smtp
MAIL_SCHEME=null
MAIL_HOST=mailpit
MAIL_PORT=1025
MAIL_USERNAME=null
MAIL_PASSWORD=null
MAIL_FROM_ADDRESS="donhang@hugo-shop.local"
MAIL_FROM_NAME="${APP_NAME}"

AWS_ACCESS_KEY_ID=minio
AWS_SECRET_ACCESS_KEY=minio_local_password
AWS_DEFAULT_REGION=us-east-1
AWS_BUCKET=products
AWS_ENDPOINT=http://minio:9000
AWS_USE_PATH_STYLE_ENDPOINT=true

VITE_APP_NAME="${APP_NAME}"

PAYMENT_SERVICE_URL=http://payment-svc:8081
PAYMENT_SERVICE_KEY=local-payment-service-key
PAYMENT_WEBHOOK_SECRET=local-webhook-signing-secret
SHIPPING_SERVICE_URL=http://mock-shipping:8082
SHIPPING_SERVICE_KEY=local-shipping-service-key
